In [1]:
import pandas as pd

In [3]:
df = pd.read_pickle('../data/processed/test.pkl')
df

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
184881,27253bdc,52639fb59747ca49,2019-07-24T00:04:25.361Z,"{""event_code"": 2000, ""event_count"": 1}",2ab22ff2,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
184882,27253bdc,197f8bb606461cdc,2019-07-24T00:05:00.917Z,"{""event_code"": 2000, ""event_count"": 1}",2ab22ff2,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
184883,27253bdc,ea7ea89e7ce39690,2019-07-24T00:05:44.404Z,"{""event_code"": 2000, ""event_count"": 1}",2ab22ff2,1,2000,0,Slop Problem,Clip,MAGMAPEAK
184884,e64e2cfd,a46069b40e05632a,2019-07-24T00:07:03.549Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",2ab22ff2,1,2000,0,Watering Hole (Activity),Activity,MAGMAPEAK
184885,49ed92e9,a46069b40e05632a,2019-07-24T00:07:09.753Z,"{""description"":""These dinosaurs are awfully th...",2ab22ff2,2,3010,1365,Watering Hole (Activity),Activity,MAGMAPEAK
...,...,...,...,...,...,...,...,...,...,...,...
63797,8fee50e2,9dd2ffd1f297124d,2019-10-14T21:00:15.836Z,"{""hat"":4,""destination"":""left"",""coordinates"":{""...",101d16f5,54,4020,69275,Bird Measurer (Assessment),Assessment,TREETOPCITY
63798,070a5291,9dd2ffd1f297124d,2019-10-14T21:00:17.437Z,"{""correct"":true,""hats"":[4,8,5],""event_count"":5...",101d16f5,55,4100,70859,Bird Measurer (Assessment),Assessment,TREETOPCITY
63799,f6947f54,9dd2ffd1f297124d,2019-10-14T21:00:17.444Z,"{""duration"":24036,""misses"":0,""stage_number"":2,...",101d16f5,56,2030,70859,Bird Measurer (Assessment),Assessment,TREETOPCITY
63800,3393b68b,9dd2ffd1f297124d,2019-10-14T21:00:19.572Z,"{""session_duration"":73009,""event_count"":57,""ga...",101d16f5,57,2010,73009,Bird Measurer (Assessment),Assessment,TREETOPCITY
63801,f56e0afc,943131279f5c7719,2019-10-14T21:00:34.858Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",101d16f5,1,2000,0,Bird Measurer (Assessment),Assessment,TREETOPCITY

If we look at one particular installation_id, we can see that it is truncated at the start of an assessment (in this case, "Chest Sorter").

In [4]:
df.query("installation_id == '2ab22ff2'")

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
184881,27253bdc,52639fb59747ca49,2019-07-24T00:04:25.361Z,"{""event_code"": 2000, ""event_count"": 1}",2ab22ff2,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
184882,27253bdc,197f8bb606461cdc,2019-07-24T00:05:00.917Z,"{""event_code"": 2000, ""event_count"": 1}",2ab22ff2,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
184883,27253bdc,ea7ea89e7ce39690,2019-07-24T00:05:44.404Z,"{""event_code"": 2000, ""event_count"": 1}",2ab22ff2,1,2000,0,Slop Problem,Clip,MAGMAPEAK
184884,e64e2cfd,a46069b40e05632a,2019-07-24T00:07:03.549Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",2ab22ff2,1,2000,0,Watering Hole (Activity),Activity,MAGMAPEAK
184885,49ed92e9,a46069b40e05632a,2019-07-24T00:07:09.753Z,"{""description"":""These dinosaurs are awfully th...",2ab22ff2,2,3010,1365,Watering Hole (Activity),Activity,MAGMAPEAK
...,...,...,...,...,...,...,...,...,...,...,...
184956,7ab78247,2d42f43a4840e86e,2019-07-24T16:03:32.293Z,"{""description"":""Try adding eggs to a different...",2ab22ff2,65,3010,1657908,Egg Dropper (Activity),Activity,CRYSTALCAVES
184957,b80e5e84,2d42f43a4840e86e,2019-07-24T16:03:35.342Z,"{""description"":""Try adding eggs to a different...",2ab22ff2,66,3110,1661036,Egg Dropper (Activity),Activity,CRYSTALCAVES
184958,4c2ec19f,2d42f43a4840e86e,2019-07-24T16:03:39.385Z,"{""nest"":4,""layout"":{""row1"":[""empty"",""right"",""e...",2ab22ff2,67,4025,1665014,Egg Dropper (Activity),Activity,CRYSTALCAVES
184959,7ab78247,2d42f43a4840e86e,2019-07-24T16:03:41.292Z,"{""description"":""Try adding eggs to a different...",2ab22ff2,68,3010,1666947,Egg Dropper (Activity),Activity,CRYSTALCAVES
184960,5b49460a,a07ae77cf151dcfe,2019-07-24T16:04:10.637Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",2ab22ff2,1,2000,0,Chest Sorter (Assessment),Assessment,CRYSTALCAVES

A list of the assessment to predict for each installation_id

In [18]:
df.groupby('installation_id')[['installation_id', 'title']].tail(1).sort_values('installation_id')

        installation_id                         title
867            00abaee7  Cauldron Filler (Assessment)
3586           01242218    Cart Balancer (Assessment)
3736           017c5718  Mushroom Sorter (Assessment)
3970           01a44906  Mushroom Sorter (Assessment)
4922           01bc6cb6    Cart Balancer (Assessment)
...                 ...                           ...
1155280        fee254cf  Cauldron Filler (Assessment)
1155583        ff57e602     Chest Sorter (Assessment)
1156109        ffc73fb2    Cart Balancer (Assessment)
1156368        ffe00ca8    Cart Balancer (Assessment)
1156413        ffe774cc    Bird Measurer (Assessment)

[1000 rows x 2 columns]

In [14]:
sample = pd.read_csv('../data/raw/sample_submission.csv')
sample

    installation_id  accuracy_group
0          00abaee7               3
1          01242218               3
2          017c5718               3
3          01a44906               3
4          01bc6cb6               3
..              ...             ...
995        fee254cf               3
996        ff57e602               3
997        ffc73fb2               3
998        ffe00ca8               3
999        ffe774cc               3

[1000 rows x 2 columns]

In [23]:
sample2 = sample.copy()
sample2.accuracy_group = 2
sample2

    installation_id  accuracy_group
0          00abaee7               2
1          01242218               2
2          017c5718               2
3          01a44906               2
4          01bc6cb6               2
..              ...             ...
995        fee254cf               2
996        ff57e602               2
997        ffc73fb2               2
998        ffe00ca8               2
999        ffe774cc               2

[1000 rows x 2 columns]